.blog {
  padding: 1rem 2rem;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.redirects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
}

.redirects > span {
  margin: 0 1em;
}
