$light-bg: #f9f5d7;
$light-red: #fb4934;
$light-green: #b8bb26;
$light-yellow: #fabd2f;
$light-blue: #83a598;
$light-purple: #d3869b;
$light-aqua: #8ec07c;
$light-gray: #d5c4a1;
$light-gray2: #6b7280;
$light-red2: #9d0006;
$light-green2: #79740e;
$light-yellow2: #b57614;
$light-blue2: #076678;
$light-purple2: #8f3f71;
$light-aqua2: #427b58;
$light-fg: #a89984;
$light-bg0-h: #fbf1c7;
$light-bg0: #f2e5bc;
$light-bg1: #ebdbb2;
$light-bg2: #d5c4a1;
$light-bg3: #bdae93;
$light-bg4: #a89984;
$light-gray3: #a89984;
$light-orange: #fe8019;
$light-bg0-s: #fbf1c7;
$light-fg4: #d5c4a1;
$light-fg3: #bdae93;
$light-fg2: #a89984;
$light-fg1: #3c3836;
$light-fg0: #32302f;
$light-orange2: #7c3aed;
