.projectHeading {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.projectMediaCarousel {
  --_marker-size: 75px;

  display: grid;
  width: 100%;
  min-width: 0;

  grid-template-areas:
    'carousel'
    'carousel-markers';
  grid-template-rows: auto var(--_marker-size);

  > .carousel {
    grid-area: carousel;

    &::scroll-marker-group {
      grid-area: carousel-markers;
    }
  }
}

// Pure CSS carousel for project media
.carousel {
  // Arranges project screenshots/videos in a scrollable container
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;

  gap: 2rem;
  margin: 0;
  padding: 0rem 1rem;

  overflow-x: auto;
  list-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
  anchor-name: --carousel;

  .carouselSlide {
    scroll-snap-align: center;

    &::scroll-marker {
      content: '' / attr(data-label);

      inline-size: var(--_marker-size);
      block-size: var(--_marker-size);

      background-image: var(--thumbnail);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      border: 1px solid var(--text-normal);
    }

    &::scroll-marker:is(:hover, :focus-visible) {
      border-color: var(--text-normal);
      transform: scale(1.05);
    }

    &::scroll-marker:target-current {
      border-color: var(--color-a);
    }
  }

  &::scroll-marker-group {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: var(--_marker-size);
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    block-size: var(--_marker-size);
    margin-bottom: 1rem;
  }

  &::scroll-button(*) {
    position: fixed;
    position-anchor: --carousel;
    font: inherit;
    border: 0;
    border-radius: 50%;
    background-color: none;
    border-color: var(--text-normal);
    font-weight: 700;
  }

  &::scroll-button(left) {
    content: '⬅' / 'Scroll Left';
    right: anchor(left);
    position-area: center left;
  }

  &::scroll-button(right) {
    content: '⮕' / 'Scroll Right';
    position-area: center right;
    left: anchor(right);
  }

  &::scroll-button(*):focus-visible {
    outline-offset: 5px;
  }
}
