.intro {
  flex: 1;
}

.spacer {
  flex: 1;
}

.tagline {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tagline h1 {
  margin: auto;
}

.divider {
  align-self: stretch;
  margin: 0 1rem;
  width: 4px;
  background-color: var(--text-normal);
}
